@font-face {
	font-family: Gotham;
	src: url('../fonts/GOTHAMHTF-LIGHT_0.OTF');
}

@font-face {
  font-family: Gotham-Medium;
  src: url('../fonts/GOTHAMHTF-MEDIUM_0.OTF');
}


body {
	font-family: Gotham;
  color: #222b5b;
}

.navbar {
	min-height: 100px;
	border-color: #ffffff;
	background-color: #ffffff;
	margin-bottom: 0px;
}

.navbar-brand {
	font-size: 32px;
}

.navbar-default .navbar-right {
	color: #222b5b;
}

.navbar-default .navbar-brand {
	color: #222b5b;
}

.navdiv {
	padding: 25px 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #222b5b;
}

.page1 {
  height: 100vh
}

.cover-image {
  background-image: url('../assets/building.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.main-img-div {
  /*background-image: url('../assets/pic.png');
  background-size: cover;*/
  height: 78.6vh;
  position: absolute;
  top: 30%;
}

.main-img {
  background-image: url('../assets/goks.jpg');
  background-size: cover;
  /*width: 50%;*/
  height: 70vh;
  background-position: 0% 50%;
}

.info {
  /*width: 50%;*/
  height: 70vh;
  background-color: #f1f1f1;
}

.main-content {
  margin-left: 80px;
  margin-top: 90px;
  color: #222b5b;
}

.gokul {
  font-family: Gotham-Medium;
  font-size: 28px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.phone {
  font-family: Gotham-Medium;
  margin-top: 20px
}

.email {
  font-family: Gotham-Medium;
  margin-top: 20px
}

.address {
  font-family: Gotham-Medium;
  margin-top: 20px
}

.dob {
  font-family: Gotham-Medium;
  margin-top: 20px
}

.experience {
  height: 100vh;
}

.education {
  height: 100vh;
}

.skill {
  height: 100vh;
}

.contact {
  height: 100vh;
}

.experience {
  text-align: center;
  padding-top: 100px;
}

.education {
  text-align: center;
  padding-top: 100px;
}

.skill {
  text-align: center;
  padding-top: 100px;
}

.contact {
  text-align: center;
  padding-top: 100px;
}

.page-header {
  font-family: Gotham-Medium;
  color: #222b5b;
}

.date {
  font-family: Gotham-Medium;
  color: #222b5b;
}

.post {
  color: #222b5b;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.content {
  padding-top: 40px;
}

.sub-content {
  padding-top: 100px;
}

.progress {
  margin-bottom: 40px;
}

.progress-bar {
  transition-duration: 3s;
}

.contact-info {
  text-align: left;
}

.contact-me {
  padding-top: 80px;
}

.contact-info {
  text-align: left;
  padding-left: 200px;
}

.social {
  background-color: #222b5b;
  text-align: center;
  height: 82vh;
}

.fa {
  color: #ffffff;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
}

.soc {
  color: #222b5b;
  padding-right: 30px;
  padding-left: 0px;
  padding-top: 0px;
}

